bind-address = "0.0.0.0:8080"
key-source = "local"
private-key-directory = "/var/run/secrets/idcat"

[[identity-provider]]
name = "kubernetes"
audience = "idcat"
issuer = "https://kubernetes.default.svc"

[[identity-provider]]
name = "buildkite"
audience = "idcat"
issuer = "https://agent.buildkite.com"

[[github-app]]
name = "deployments"
app-id = 123456
secret-key = "deployments-private-key.pem"

[[github-app]]
name = "release-bot"
app-id = 234567
secret-key = "release-bot-private-key.pem"

[[access-policy]]
github-app = "deployments"
identity-provider = "buildkite"

[access-policy.required-claims]
organization_slug = "my-buildkite-org"
pipeline_slug = "deploy-idcat"

[[access-policy]]
github-app = "release-bot"
identity-provider = "kubernetes"

[access-policy.required-claims]
sub = "system:serviceaccount:default:default"
