bind_address = "0.0.0.0:8080"
github_app_id = 123456
private_key_directory = "/var/run/secrets/idcat"

[authentication]
audience = "idcat"
issuer = "https://kubernetes.default.svc"

[[installation]]
allowed_subjects = ["system:serviceaccount:idelephant:default"]
repo = "github_user/repo_name"
secret_key = "private-key.pem"

[[installation]]
allowed_subjects = ["system:serviceaccount:default:default"]
repo = "github_user/other_repo"
secret_key = "other-private-key.pem"

[installation.permissions]
contents = "read"
metadata = "read"
